<p id="notice"><%= notice %></p>

<p>
  <strong>Term:</strong>
  <%= @item.term %>
</p>

<p>
  <strong>Definition:</strong>
  <%= @item.definition %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
